* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  width: 260px;
  height: 260px;
}

/* Box colors */
.box1 {
  background: #	#32CD32;
}
.box2 {
  background: #00FF00;
}
.box3 {
  background: #FFA07A;
}

.container {
  display: flex;
}

.box {
  flex: 1;
}

.box1 {
  order: 4;
}